@media (min-width: 1200px) {

}
/********Ipad**************/
@media(max-width: 1199px) {

}
@media (max-width: 991px) {

}
/********mobile**************/
@media (max-width: 767px) {

}
@media (max-width: 479px) {

}


.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

-ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;

  -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%;